.main-chat
  .header
    .header__group
      .header__group__user-name
        a
      .header__group__member-lists
        Member:
        .header__group__member-lists__name
          yano
    .edit-btn
      Edit
  .messages
    .message
      .message__top
        .message__top__username
          yano
        .message__top__date
          2020年05月07日 22時20分
      .message__bottom
        ハローワーク
  .footer
    .form 
      .form__contents
        .form__contents__input
          %label.form-image
            = icon("fas", "image")
      %submit.form-submit
        Send
