.side-bar
  .side-bar__top
    .side-bar__top__list
      .side-bar__top__list__user-name
        yano
      .side-bar__top__list__icon-lists
        .left-icon
          = icon("fas", "edit")
        .right-icon
          = icon("fas", "cog")
  .groups
    .group
      .group__name
        a
      .group__message
        まだメッセージはありません