* {
  box-sizing: border-box;
}

.side-bar {
  float: left;
  height: 100vh;
  background-color: red;
  width: 300px;
  color: white;
  &__top {
    background-color: hsl(214, 27%, 20%);
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__list {
      height: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      &__user-name {
        font-size: 16px;
        font-weight: bold;
      }
      &__icon-lists {
        display: flex;
        .left-icon {
          margin-left: 5px;
        }
        .right-icon {
          margin-left: 5px;
        }
      }
    }
  }
  .groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    .group {
      padding: 20px 0 40px;
      &__name {
        font-size: 15px;
      }
      &__message {
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}
.main-chat {
  width: calc(100vw - 315px);
  float: left;
  .header {
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eee;
    display: flex;
    justify-content: space-between;
    &__group {
      &__user-name {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__member-lists {
        color: #999;
        display: flex;
        font-size: 12px;
        margin-top: 15px;
      }
    }
    .edit-btn {
      display: block;
      border: 1px solid #38aef0;
      color: #38aef0;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .messages {
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 35px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;

    .message {
      margin-bottom: 46px;
      &__top {
        display: flex;
        &__username {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      &__bottom {
        color: #434a54;
        font-size: 14px;
        margin-top: 12px;
      }
    }
  }
  .messages::-webkit-scrollbar {
    display: none;
  }
  .footer {
    background-color: #dddddd;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    .form {
      display: flex;
      justify-content: space-between;
      &__contents {
        width: 100%;
        background-color: #fff;
        position: relative;
        &__input {
          border: none;
          height: 50px;
          width: 100%;
          padding: 0 45px 0 15px;
          .form-image {
            height: 50px;
            position: absolute;
            right: 10px;
            line-height: 50px;
            font-size: 25px;
          }
        }
      }
      .form-submit {
        background-color: #38aef0;
        border: none;
        color: #fff;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
        line-height: 50px;
      }
    }
  }
}
